<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文章管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>文章名：</label>
                                <input type="text" name="textname"/>
                            </li>
                            <li>
                                <label>分类号：</label>
<!--                                <input type="text" name="cname"/>-->
                                <select type = "text" name="cname" class="form-control" required>
                                    <option th:each="classify:${classify_list}" th:text="${classify.cname}" th:value="${classify.csid}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>上传时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginUptime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endUptime]"/>
                            </li>
                            <li>
                                <label>用户id：</label>
                                <input type="text" name="userid"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:text_control:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:text_control:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:text_control:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:text_control:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <script>

     </script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:text_control:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:text_control:remove')}]];
        var prefix = ctx + "system/text_control";
        var classify_list = [[${classify_list}]]
        var user_list = [[${user_list}]]
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文章管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'textid',
                    title: '文章id',
                    visible: true
                },
                {
                    field: 'textname',
                    title: '文章名'
                },
                {
                    field: 'textcontent',
                    title: '文章内容',
                    visible: false
                },
                {
                    field: 'picture',
                    title: '图片'
                },
                {
                    field: 'csid',
                    title: '分类名',
                    formatter:function(value, row, index) {
                        for (var i = 0;i<classify_list.length;++i)
                            if(value == classify_list[i].csid)
                                return classify_list[i].cname;
                        return value;
                    }
                },
                {
                    field: 'uptime',
                    title: '上传时间'
                },
                {
                    field: 'favor',
                    title: '点赞数'
                },
                {
                    field: 'userid',
                    title: '用户名(用户id)',
                    formatter:function(value, row, index) {
                        for (var i = 0;i<user_list.length;++i)
                            if(value == user_list[i].userid)
                                return user_list[i].username+"(id="+value+")";
                        return value;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.textid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.textid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>